<div class='container'>
  <div class='col-md-12'>
    <div class='process-title'><h3>About Cedar</h3></div>
  </div>
  <div class='process-content'>
    <p>Cedar is a tool for testing the strength of Electronic Clinical Quality Measure (eCQM) collection systems that receive Quality Reporting Document Architecture (QRDA) files. The Cedar tool is open source and freely available for use or adoption by state health agencies or any other organization that is set up to receive QRDA files.</p>
    <p>Current Cedar Version: 0.1</p>
    <hr>
    <h4>Release Notes for Previous Versions</h4>
    <strong>Version 0.1</strong>
    <ul>
      <li>Initial release to GitHub
    </ul>
  </div>
</div>
