<div class='container'>
  <div class='col-md-12'>
    <div class='process-title'><h3>Feedback</h3></div>
  </div>
  <div class='process-content'>
    <p>Cedar is a free and open-source tool, developed by the MITRE Corporation for use by any interested party.</p>
    <p>If you would like to contact the developers, you can do so by several methods:</p>
    <ul>
      <li>For general questions and inquiries, contact <a href='mailto:cedar-feedback-list@lists.mitre.org'>cedar-feedback-list@lists.mitre.org</a>
      <li>To view the source code and submit usability feedback, a bug report, or a feature request, use the <a href='https://github.com/mitre/cedar/issues'>Cedar issue tracker</a>
    </ul>
  </div>
</div>
