<div class='container'>
  <div class='col-md-12'>
    <div class='process-title'><h3>Help</h3></div>
  </div>
  <div class='process-content'>
    <p>Cedar is a free and open-source tool, developed by the MITRE Corporation for use by any interested party.</p>
    <p>For general information about the Cedar project, visit the <a href='https://github.com/mitre/cedar'>Cedar GitHub site</a></p>
    <p>For specific questions and inquiries, contact <a href='mailto:cedar-feedback-list@lists.mitre.org'>cedar-feedback-list@lists.mitre.org</a></p>
  </div>
</div>
