<% if @test_execution[:disable_details] %>
  <div class='clearfix'></div>
  <div class='alert alert-warning'>
    <p>These fields are disabled because you have already created a set of QRDA documents for this test.</p>
    <p>To create a new set of documents, you need to <%= link_to 'create a new test', root_url %>.</p>
  </div>
<% end %>
