/* Overrides */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

* {
  font-family: 'Varela Round'
}
body {
  background-color: white;
}

/* Site Header */
.site-header {
  background: rgb(67, 39, 72);
  border-top: none;
}
.site-nav .page-link {
  color: white;
}
