<div class='db-overview'>
  <div class='col-xs-6 col-sm-3 db-right-border'>
    <div class='db-center-results'>
      <div class='db-overview-icon'>
        <span class='glyphicon glyphicon-list-alt overview-totals'></span>
      </div>
      <div class='db-overview-results'>
        <h1><%= test_executions_num %> <p>total tests</p></h1>
      </div>
    </div>
  </div>
  <div class='col-xs-6 col-sm-3'>
    <div class='db-center-results'>
      <div class='db-overview-icon'>
        <span class='glyphicon glyphicon-check overview-passed'></span>
      </div>
      <div class='db-overview-results'>
        <h1><%= tests_passed_num %> <p>passed</p></h1>
      </div>
    </div>
  </div>
  <div class='clearfix visible-xs-block'>
  </div>
  <div class='col-xs-6 col-sm-3'>
    <div class='db-center-results'>
      <div class='db-overview-icon'>
        <span class='glyphicon glyphicon-exclamation-sign overview-error'></span>
      </div>
      <div class='db-overview-results'>
        <h1><%= tests_failed_num %> <p>failed</p></h1>
      </div>
    </div>
  </div>
  <div class='col-xs-6 col-sm-3'>
    <div class='db-center-results'>
      <div class='db-overview-icon'>
        <span class='glyphicon glyphicon-adjust overview-incomplete'></span>
      </div>
      <div class='db-overview-results'>
        <h1><%= tests_incomplete_num %> <p>incomplete</p></h1>
      </div>
    </div>
  </div>
</div>
